body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  background-color: #131313;
}

.container {
  max-width: 1283px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner,
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
}

.logo {
  color: #e3b873;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  gap: 47px;
}
.menu__list-item:hover {
  color: #e3b873;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 45px;
}
.contacts__number {
  color: #e3b873;
  text-decoration: underline;
}
.contacts__button {
  width: 161px;
  height: 37px;
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  font-style: italic;
}

.contacts__button:hover {
  opacity: 0.9;
}

.main {
  flex-grow: 1;
}

.top {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top__background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.3;
}

.top__background-color {
  background-color: #000;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.title {
  font-family: "Yeseva One";
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  width: 85vw;
  margin: 194px 0 19px 21px;
}

.title__city {
  color: #e3b873;
}

.top__subtitle {
  font-size: 22px;
  line-height: 36px;
  max-width: 504px;
  margin: 0 0 41px 21px;
}
.top__button {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 434px;
  margin-left: 21px;
  margin-bottom: 208px;
}

.top__button-left,
.top__button-right {
  width: 207px;
  height: 51px;
  font-style: italic;
  border-radius: 2px;
}

.top__button-left:hover,
.top__button-right:hover {
  opacity: 0.9;
}

.top__button-left {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  font-size: 11px;
}

.top__button-right {
  border: 1px solid #ffffff;
  background-color: transparent;
}

.projects {
  background-color: #131313;
  padding: 105px 0 416px;
}

.projects__list {
  display: flex;
  justify-content: space-around;
  margin: 0 43px 45px auto;
  max-width: 685px;
  font-family: "Yeseva One";
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}

.projects__list-item {
  border-bottom: solid 1px transparent;
  padding-bottom: 6px;
}

.projects__list-item:hover {
  border-color: #e3b873;
  color: #e3b873;
}

.projects__block {
  display: flex;
  justify-content: space-between;
  margin: 0 21px;
}

.projects__title {
  font-family: "Yeseva One";
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #e3b873;
  margin-bottom: 25px;
  width: 195px;
}

.projects__subtitle {
  line-height: 27px;
  max-width: 442px;
  margin-bottom: 48px;
}

.projects__mobile {
  display: none;
}

.projects__info {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  max-width: 379px;
  grid-row-gap: 34px;
}

.projects__info-title {
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #e3b873;
  margin-bottom: 7px;
}

.projects__info-subtitle {
  line-height: 21px;
  max-width: 125px;
}

.projects__arrows {
  display: flex;
  align-items: center;
  gap: 17px;
}

.projects__arrows-item:first-child {
  content: url(../img/vector/projects_arrow_left.svg);
  margin-right: 10px;
}

.projects__arrows-item:nth-child(n + 2):nth-child(-n + 4) {
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: white;
}

.projects__arrows-item:last-child {
  content: url(../img/vector/projects_arrow_right.svg);
  margin-left: 10px;
}

.control {
  margin: -340px 0 148px;
  text-align: center;
}

.control__title {
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.control__logo {
  content: url(../img/vector/control__logo.svg);
  margin: 0 auto 31px;
}

.control__video {
  margin-bottom: 62px;
  position: relative;
}

.control__line {
  display: block;
  background: #e3b873;
  width: 55px;
  height: 1px;
  margin: 0 auto 35px;
}

.control__subtitle {
  text-align: center;
  max-width: 652px;
  font-size: 18px;
  line-height: 37px;
  color: #363636;
  margin: 0 auto 93px;
}

.control__form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control__form-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 769px;
  margin-bottom: 37px;
  gap: 55px;
}

.control__form-label {
  line-height: 21px;
  display: flex;
  flex-direction: column;
  text-align: start;
  color: rgba(54, 54, 54, 0.5);
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  padding-bottom: 8px;
  width: 231px;
}

.control__check {
  color: #181818;
}

.control__check, .types__check, .questions__check {
  display: flex;
  margin-left: 27px;
  gap: 7px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.control__check-input, .types__check-input, .questions__check-input {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

.control__check-box, .types__check-box, .questions__check-box {
  background: url(../img/vector/disabled.svg) no-repeat;
  width: 18px;
  height: 18px;
  left: -27px;
  top: -2px;
  border-radius: 1px;
}

.control__check-input:checked + .control__check-box,
.types__check-input:checked + .types__check-box,
.questions__check-input:checked + .questions__check-box {
  background: url(../img/vector/check.svg) no-repeat;
  width: 18px;
  height: 18px;
}

.control__form-button {
  width: 200px;
  height: 51px;
  background: #e3b873;
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
}

.control__form-button:hover {
  opacity: 0.9;
}

.control__check-mobile {
  display: none;
}

.types {
  margin-bottom: 322px;
}

.types__title {
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-bottom: 13px;
}

.types__logo {
  content: url(../img/vector/types_logo.svg);
  margin: 0 auto 31px;
}

.types__top {
  display: flex;
  justify-content: space-between;
  margin: 0 21px 230px;
}

.types__top-block {
  padding: 294px 31px 0;
  background-size: 100%;
  width: 392px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.types__top-block:first-child {
  background-image: url(../img/types1.jpg);
}

.types__top-block:nth-child(2) {
  background-image: url(../img/types2.jpg);
}

.types__top-block:last-child {
  background-image: url(../img/types3.jpg);
}

.types__top-title {
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  padding: 25px 0 15px 34px;
  background-color: #fff;
}

.types__top-list {
  line-height: 27px;
  color: #959595;
  background-color: #ffffff;
  margin: -2px 0 23px;
  padding-left: 50px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.types__top-item {
  list-style: disc;
}

.types__block-bottom {
  background: #e3b873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  width: 228px;
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
  padding: 17px 0;
  cursor: pointer;
}

.types__block-bottom:hover {
  opacity: 0.9;
}

.types__bottom {
  position: relative;
  margin: 0 21px;
}

.types__background {
  position: absolute;
  z-index: -1;
  top: -115px;
  left: -410px;
}

.types__bottom-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}

.types__bottom-list {
  line-height: 19px;
  color: #363636;
  display: flex;
  flex-direction: column;
  gap: 102px;
  max-width: 396px;
  margin-left: 120px;
}

.types__bottom-item {
  min-height: 42px;
  padding-left: 86px;
  position: relative;
  display: flex;
  align-items: center;
}

.types__bottom-item::before {
  position: absolute;
  left: 0;
  top: -17px;
}

.types__bottom-item:first-child::before {
  content: url(../img/vector/01.svg);
}

.types__bottom-item:nth-child(2)::before {
  content: url(../img/vector/02.svg);
}

.types__bottom-item:nth-child(3)::before {
  content: url(../img/vector/03.svg);
}

.types__bottom-item:nth-child(4)::before {
  content: url(../img/vector/04.svg);
}

.types__form {
  background: #131313;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  padding: 28px 49px;
  max-width: 506px;
}

.types__form-title {
  font-size: 18px;
  line-height: 26px;
  max-width: 270px;
  margin: 0 auto 39px;
  text-align: center;
}

.types__form-block {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 17px;
}

.types__check {
  text-align: center;
  margin-bottom: 39px;
}

.types__check-box {
  left: 35px;
}

.types__check-input:checked + .types__check-box {
  left: 35px;
}

.types__form-label {
  display: flex;
  flex-direction: column;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  text-align: start;
  gap: 7px;
  width: 408px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.types__form-label > input {
  border: 0;
  border-bottom: 1px solid #000;
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  line-height: 23px;
  color: #fff;
}

.types__form-btn {
  width: 213px;
  padding: 19px 0;
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  line-height: 21px;
  text-transform: uppercase;
  float: right;
}

.types__form-btn:hover {
  opacity: 0.9;
}

.types__bottom-end {
  font-size: 18px;
  line-height: 26px;
  color: #e3b873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
  float: right;
  display: flex;
  align-items: center;
  gap: 25px;
}

.types__bottom-img {
  display: inline-block;
  background: url(../img/vector/pig.svg) no-repeat;
  background-position: center;
  background-color: #e3b873;
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.types__bottom-text {
  max-width: 215px;
  margin-right: 160px;
}

.realize {
  margin-bottom: 110px;
  position: relative;
}

.realize__background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.3;
}

.realize__background-color {
  background-color: #000;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.realize__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 137px;
  margin: 0 21px;
}

.realize__title {
  font-family: "Yeseva One";
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #e3b873;
  max-width: 300px;
  margin-bottom: 47px;
}

.realize__list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.realize__list-item {
  padding-bottom: 1px;
  width: max-content;
  border-bottom: 1px solid transparent;
}

.realize__list-item:hover {
  border-color: #e3b873;
}

.realize__block {
  display: flex;
  margin: -250px 0 -41px;
  max-width: max-content;
  gap: 43px;
}

.realize__block-right,
.realize__block-left {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.realize__block-left {
  margin-top: 70px;
}

.clients {
  padding-bottom: 355px;
  background: url(../img/clients_background.png) no-repeat;
  background-position: bottom;
}

.clients__title {
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin: 0 auto;
}

.clients__logo {
  content: url(../img/vector/clients__logo.svg);
  margin: 0 auto 24px;
}

.clients__subtitle {
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #363636;
  margin: 0 auto 39px;
  max-width: 370px;
}

.clients__block {
  display: flex;
  justify-content: space-between;
  margin: 0 21px;
}

.clients__card {
  padding: 24px 32px 0 20px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  max-width: 376px;
}

.clients__user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 22px;
  gap: 23px;
}

.clients__img {
  border-radius: 50%;
}

.clients__initials {
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 23px;
  color: #181818;
  max-width: 200px;
}

.clients__text {
  line-height: 23px;
  color: #959595;
  margin-bottom: 63px;
}

.clients__info {
  display: flex;
  font-family: "Yeseva One";
  font-size: 17px;
  line-height: 24px;
  gap: 1px;
  margin: 0 0 -27px -20px;
}

.clients__info-meters {
  background: #e3b873;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
  padding: 17px 11px 17px 65px;
  position: relative;
  width: 135px;
}

.clients__info-meters::before,
.clients__info-days::before {
  position: absolute;
  left: 11px;
  top: 11px;
}

.clients__info-meters::before {
  content: url(../img/vector/metres.svg);
}

.clients__info-days {
  background: #e3b873;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
  padding: 17px 11px 17px 65px;
  position: relative;
  width: 158px;
}

.clients__info-days::before {
  content: url(../img/vector/days.svg);
}

.questions {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.questions__background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.3;
}

.questions__background-color {
  background-color: #000;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.questions__form {
  background: #131313;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  padding: 34.5px 181.5px;
  max-width: 883px;
  text-align: center;
  margin: -223px auto 52px;
}

.questions__form-title {
  font-size: 18px;
  line-height: 26px;
  max-width: 270px;
  margin: 0 auto 46px;
  text-align: center;
  text-transform: uppercase;
}

.questions__form-block {
  display: flex;
  gap: 48px;
  margin-bottom: 49px;
}

.questions__form-label {
  display: flex;
  flex-direction: column;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  text-align: start;
  gap: 7px;
  width: 408px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.questions__form-label:nth-child(3) {
  width: 100%;
  margin-bottom: 48px;
}

.questions__form-label > input {
  border: 0;
  border-bottom: 1px solid #000;
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  line-height: 23px;
  color: #fff;
}

.questions__check {
  margin-bottom: 50px;
}

.questions__check-box {
  left: 90px;
}

.questions__check-input:checked + .questions__check-box {
  left: 90px;
}

.questions__form-btn {
  width: 200px;
  padding: 20px 0;
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  line-height: 21px;
  text-transform: uppercase;
}

.questions__form-btn:hover {
  opacity: 0.9;
}

.questions__title {
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #e3b873;
  max-width: 580px;
  margin: 0 auto 26px;
}

.questions__links {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 46px;
}

.questions_cart-big {
  margin-bottom: 66px;
}

.footer__inner {
  padding: 60px 0;
}

@media (max-width: 1300px) {
  .header__inner {
    padding: 23px 0;
  }

  .menu {
    display: none;
  }

  .contacts__button {
    display: none;
  }

  .top__background-image {
    background-size: auto;
    background-position: top;
  }

  .title {
    font-size: 23px;
    line-height: 132.83%;
    margin: 85px auto 16px;
  }

  .top__subtitle {
    font-size: 14px;
    line-height: 135.84%;
    margin: 0 0 32px 0;
    width: 339px;
  }

  .top__button {
    margin: 0 0 61px 0;
    gap: 26px;
  }

  .top__button-left, .top__button-right {
    width: 100%;
  }

  .projects {
    padding: 36px 0 1px;
  }

  .projects__list {
    display: none;
  }

  .projects__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .projects__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects__title {
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
    margin-bottom: 22px;
  }

  .projects__subtitle {
    text-align: center;
    font-size: 11px;
    line-height: 158.48%;
    width: 300px;
    margin-bottom: 36px;
  }

  .projects__mobile {
    display: block;
    width: 100%;
    height: 241px;
    margin-bottom: 37px;
    position: relative;
  }

  .projects__mobile-left {
    content: url(../img/vector/projects_mobile_left.svg);
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: #E3B873;
    padding: 12px 14px 12px 10px;
    border-radius: 50%;
    top: 103px;
    left: 14px;
  }
  .projects__mobile-img {
    margin: 0 auto;
  }
  .projects__mobile-right {
    content: url(../img/vector/projects_mobile_right.svg);
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: #E3B873;
    padding: 12px 10px 12px 14px;
    border-radius: 50%;
    top: 103px;
    right: 14px;
  }

  .projects__info {
    margin-bottom: 58px;
  }

  .projects__arrows {
    display: none;
  }

  .projects__img {
    display: none;
  }

  .control {
    margin: 0;
    background-color: #131313;
  }

  .control__title {
    font-size: 22px;
    line-height: 138.6%;
    margin-bottom: 20px;
  }

  .control__logo {
    margin-bottom: 40px;
  }

  .control__video {
    width: 100%;
    margin-bottom: 28px;
  }

  .control__line {
    margin-bottom: 21px;
  }
  .control__subtitle {
    font-size: 11px;
    line-height: 169.8%;
    color: #fff;
    margin-bottom: 61px;
  }

  .control__form {
    margin-bottom: 83px;
  }

  .control__form-block {
    flex-direction: column;
    gap: 0;
    margin-bottom: -25px;
  }

  .control__form-label>input {
    background-color: #131313;
    color: #fff;
  }

  .control__form-label {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #fff;
    width: 340px;
  }

  .control__form-label:first-child {
    margin-bottom: 63px;
  }

  .control__form-label:nth-child(2) {
    margin-bottom: 28px;
  }

  .control__check {
    display: none;
  }

  .control__check-mobile {
    display: block;
    position: relative;
    margin: 0 0 62px 27px;
  }

  .control__check-mobile-input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
  }

  .control__check-mobile-box {
    position: absolute;
    background: url(../img/vector/disabled.svg) no-repeat;
    width: 18px;
    height: 18px;
    left: -27px;
    top: -4px;
    border-radius: 1px;
  }

  .control__check-mobile-input:checked + .control__check-mobile-box {
    background: url(../img/vector/check.svg) no-repeat;
    position: absolute;
    width: 18px;
    height: 18px;
    left: -27px;
    top: -4px;
  }

  .types {
    margin-bottom: 75px;
  }
  .types__title {
    font-size: 22px;
    line-height: 138.6%;
  }

  .types__logo {
    margin-bottom: 40px;
  }

  .types__top {
    flex-wrap: wrap;
    gap: 79px;
    margin: 0 auto;
    width: 340px;
  }

  .types__top-block {
    padding: 223px 70px 0 0
  }

  .types__top-title {
    padding: 21px 0 10px 31px;
    font-size: 15px;
    line-height: 138.6%;
  }

  .types__top-list {
    font-size: 13px;
    line-height: 169.8%;
    padding: 0 0 48px 31px;
    margin: 0;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
  }

  .types__block-bottom {
    width: 190px;
    padding: 11px 0;
    font-size: 15px;
    line-height: 138.6%;
    margin-top: -20px;
  }

  .types__bottom {
    display: none;
  }

  .types__background {
  }
  .types__bottom-block {
  }
  .types__bottom-list {
  }
  .types__bottom-item {
  }
  .types__form {
  }
  .types__form-title {
  }
  .types__form-block {
  }
  .types__form-label {
  }

  .realize__background-color {
    display: none;
  }

  .realize__background-image {
    display: none;
  }

  .realize__inner {
    flex-direction: column;
    padding: 0;
  }
  .realize__left {
  }
  .realize__title {
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
    margin: 0 auto 24px;
  }
  .realize__list {
    display: none;
  }
  .realize__list-item {
  }
  .relize__list-link {
  }
  .realize__block {
    display: none;
  }
  .realize__block-left {
  }
  .realize__block-right {
  }
  .clients {
    display: none;
  }
  .clients__title {
  }
  .clients__logo {
  }
  .clients__subtitle {
  }
  .clients__block {
  }
  .clients__card {
  }
  .clients__user {
  }
  .clients__img {
  }
  .clients__initials {
  }
  .clients__text {
  }
  .clients__info {
  }
  .clients__info-meters {
  }
  .clients__info-days {
  }
  .questions {
    background-color: #181818;
    padding-top: 173px;
  }

  .questions__inner {
    display: flex;
    flex-direction: column;
  }

  .questions__background-color {
    display: none;
  }

  .questions__background-image {
    display: none;
  }

  .questions__form {
    padding: 0;
    margin: 0;
    width: 95vw;
    padding: 0;
    background-color: #181818;
    box-shadow: none;
  }

  .questions__form-title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 52px;
  }
  
  .questions__form-block {
    flex-direction: column;
    gap: 63px;
    margin-bottom: 63px;
  }
  .questions__form-label {
    width: 100%;
  }

  .questions__form-btn {
    width: 340px;
  }
  .questions__title {
    
  }
  .questions__links {
  }
  .questions__links-mail {
  }
  .questions__links-inst {
  }
  .questions_cart-big {
    width: 100%;
    height: 30vh;
    
  }
  .footer {
  }
  .footer__inner {
  }
}
